.button {
  display: inline-flex;
  gap: 2rem;
  align-items: center;
  border: 0;
  font-weight: bold;
  border-radius: 50px;
  box-shadow: var(--box-shadow);
  padding: 0.7rem 1.4rem;
  margin-top: 1.2rem;
  transition: background ease-in-out 200ms;
  span {
    transform: translateX(0);
    transition: transform ease-in-out 200ms;
  }
  &:hover span {
    transform: translateX(0.6rem);
  }
  /* Mod */
  &-red {
    background: var(--tomato);
    color: var(--white);
    &:hover {
      background: var(--tomato-hover);
    }
  }
  &-white {
    background: var(--white);
    color: var(--tomato);
    &:hover {
      background: var(--white);
    }
  }
}
