.button {
  display: inline-flex;
  gap: 2rem;
  align-items: center;
  border: 0;
  font-weight: bold;
  border-radius: 50px;
  box-shadow: var(--box-shadow);
  padding: 0.7rem 1.4rem;
  margin-top: 1.2rem;
  transition: background ease-in-out 200ms;
  span {
    transform: translateX(0);
    transition: transform ease-in-out 200ms;
  }
  &:hover span {
    transform: translateX(0.6rem);
  }
  /* Mod */
  &-red {
    color: var(--white);
    background: var(--tomato);
    &:hover {
      color: var(--white);
      background: var(--tomato-hover);
    }
  }
  &-green {
    background: var(--dark-grey-blue);
    color: var(--white);
    &:hover {
      color: var(--white);
      background: var(--dusty-teal);
    }
  }
  &-orange {
    background: var(--tangerine);
    color: var(--white);
    &:hover {
      color: var(--white);
      background: var(--tangerine-hover);
    }
  }
  &-white {
    background: var(--white);
    color: var(--tomato);
    &:hover {
      color: var(--tomato);
      background: var(--white);
    }
  }
  &-sm {
    @include mobile {
      gap: 1rem;
    }
    @include mobile-sm {
      gap: 0.5rem;
      font-size: 0.8em;
      padding: 0.7rem 1.2rem;
    }
  }
  &-lg {
    padding: 0.7rem 2rem;
  }
}
.button-filter {
  --bg-button-filter: rgba(85, 166, 172, 0.25);
  color: var(--dusty-teal);
  background: var(--white);
  border: 0;
  padding: 0.6rem 2rem;
  border-radius: 7px;
  border: 2px solid var(--bg-button-filter);
  transition: border ease-in-out 300ms, background ease-in-out 300ms;
  &.active {
    border: 2px solid transparent;
    background: var(--bg-button-filter);
  }
  &:hover {
    background: var(--bg-button-filter);
    border: 2px solid var(--bg-button-filter);
  }
  &-sm {
    @include mobile {
      padding: 0.5rem 1rem;
    }
    @include mobile-xs {
      padding: 0.5rem 1rem;
    }
  }
}
.link-post {
  color: var(--tomato);
  text-decoration: none;
  font-size: 1.1em;
  display: inline-block;
  cursor: pointer;
  @include mobile {
    display: none;
  }
  &:hover {
    text-decoration: none;
    color: var(--tomato);
  }
  &:hover figure {
    transform: translateX(0.5rem);
  }
  figure {
    display: inline-block;
    width: 20px;
    height: 30px;
    transform: translateX(0);
    transition: transform ease-in-out 200ms;
    img {
      transform: scale(0.6);
    }
  }
}
