@use "./partials/" as *;

.card {
  border-radius: var(--br-10);
  border: 0;
  box-shadow: var(--box-shadow);
  overflow: hidden;
  @include mobile {
    width: 70%;
    margin: 0 auto;
  }
  .wrapper-img {
    overflow: hidden;
    img {
      transform: scale(1);
      transition: transform ease-in-out 500ms;
      object-fit: cover;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &-border {
    padding: 0.6rem 1.5rem;
    display: block;
    border-bottom: 1px solid hsl(0, 0%, 86%);
    color: var(--gray);
  }
  &-body {
    &-md {
      padding: 1.5rem;
    }
    p {
      margin: 0;
      margin: 0.5rem 0;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow-y: hidden;
    }
    small {
      color: var(--gray);
    }
  }
  &-title {
    font-size: 1.25em;
    &::first-letter {
      text-transform: uppercase;
    }
  }
  &-link {
    color: var(--tomato);
    text-decoration: none;
    font-size: 1.1em;
    display: inline-block;
    cursor: pointer;
    &:hover {
      text-decoration: none;
      color: var(--tomato);
    }
    &:hover figure {
      transform: translateX(0.5rem);
    }
    figure {
      display: inline-block;
      width: 20px;
      height: 30px;
      transform: translateX(0);
      transition: transform ease-in-out 200ms;
      img {
        transform: scale(0.6);
      }
    }
  }
}
