@use "./partials/" as *;

.contact {
  max-width: 1800px;
  margin: 0 auto;
  .container-fluid {
    padding: 0;
  }
  &-info {
    color: white;
    padding: 4rem 0;
    background: url("/images/shape-left.svg") no-repeat left top,
      linear-gradient(140deg, var(--dusty-blue) 0%, var(--dark-grey-blue) 120%);
    height: 100%;
    @include tablet {
      padding: 2rem 0;
    }
    &-wrapper {
      width: 60%;
      margin: 0 auto;
      @include tablet {
        width: 80%;
      }
    }
    .icon-form {
      display: inline-block;
      padding: 2rem;
      background: var(--white);
      border-radius: 100%;
      box-shadow: var(--box-shadow);
    }
    p {
      margin: 0;
    }
  }
  &-form {
    padding: 4rem 0;
    background: url("/images/shape-right-gray.svg") no-repeat right bottom,
      var(--white-light);
    height: 100%;
    @include tablet {
      padding: 2rem 0;
    }
    &-wrapper {
      width: 60%;
      margin: 0 auto;
      @include tablet {
        width: 80%;
      }
    }
    .wrapper-input {
      margin-bottom: 1rem;
      display: grid;
      label {
        transition: color ease-in-out 200ms;
        order: 1;
      }
      input,
      textarea {
        order: 2;
      }
    }
    .form-input {
      display: block;
      width: 100%;
      background: transparent;
      border: 0;
      border-bottom: 1px solid #a8a8a8;
      padding: 1rem 0;
      transition: border ease-in-out 200ms;
      &:focus {
        border-bottom: 1px solid var(--tomato);
      }
      &:focus + label {
        color: var(--tomato);
      }
    }
  }
}
