.header_site {
  /* position: absolute;
  width: 100%;
  z-index: 10; */
  background: var(--white);
  border-bottom: 1px solid var(--white);
  .logo {
    &-dark {
      filter: invert(1);
    }
    &-white {
      filter: invert(0);
    }
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
}
