.header_site {
  background: var(--white);
  box-shadow: var(--box-shadow);
  .logo {
    &-dark {
      filter: invert(1);
    }
    &-white {
      filter: invert(0);
    }
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
}
