.menu {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.menu a {
  text-decoration: none;
  text-transform: capitalize;
}
.menu a:hover,
.menu a:focus,
.menu a:active {
  text-decoration: none;
}
