@use "./components/partials/" as *;

@import "./components/button.scss";

.header-page {
  background: var(--dark);
  color: var(--white);
  padding: 4rem 0;
  h2 {
    font-size: 2.6em;
  }
}
.about {
  &-description {
    background: var(--white-light);
    padding: 5rem 0;
    &-text {
      h2 {
        margin: 1rem 0 2rem;
      }
    }
    &-photo {
      position: relative;
      @include desktop-sm {
        text-align: center;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: -1rem;
        left: -2rem;
        width: 90%;
        height: 90%;
        background: transparent;
        border-radius: var(--br-10);
        border: 2px solid var(--tangerine);
        z-index: 0;
        @include desktop-sm {
          left: 50%;
          transform: translateX(-50%);
          width: 60%;
        }
        @include mobile {
          width: 90%;
        }
      }
      img {
        border-radius: var(--br-10);
        position: relative;
        z-index: 1;
      }
    }
  }
  &-people {
    padding: 6rem 0;
    h2 {
      margin-top: 1rem;
    }
    .category {
      padding: 3rem 0;
      display: inline-grid;
      align-items: center;
      gap: 2rem;
      grid-template-areas: "span span span";
      @include mobile {
        gap: 1rem;
        justify-content: center;
        width: 100%;
      }
      @include mobile-xs {
        gap: 0.5rem;
        justify-content: center;
      }
    }
    .card {
      border-radius: var(--br-10);
      border: 0;
      box-shadow: var(--box-shadow);
      overflow: hidden;
      @include mobile {
        width: 70%;
        margin: 0 auto;
      }
      .wrapper-img {
        overflow: hidden;
        img {
          transform: scale(1);
          transition: transform ease-in-out 500ms;
          object-fit: cover;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
      p {
        margin: 0;
      }
      small {
        color: var(--gray);
      }
    }
  }
}
