@use "./components/partials/" as *;

@use "./components/filter-category";
@use "./components/card";

.about {
  &-description {
    background: var(--white-light);
    padding: 5rem 0;
    &-text {
      h2 {
        margin: 1rem 0 2rem;
      }
    }
    &-photo {
      position: relative;
      @include desktop-sm {
        text-align: center;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: -1rem;
        left: -2rem;
        width: 90%;
        height: 90%;
        background: transparent;
        border-radius: var(--br-10);
        border: 2px solid var(--tangerine);
        z-index: 0;
        @include desktop-sm {
          left: 50%;
          transform: translateX(-50%);
          width: 60%;
        }
        @include mobile {
          width: 90%;
        }
      }
      img {
        border-radius: var(--br-10);
        position: relative;
        z-index: 1;
      }
    }
  }
  &-people {
    padding: 6rem 0;
    h2 {
      margin-top: 1rem;
    }
  }
}
