:root {
  --tangerine: hsl(32, 100%, 50%);
  --dark: hsl(251, 41%, 13%);
  --dusty-blue: hsl(184, 34%, 50%);
  --dusty-teal: hsl(181, 36%, 36%);
  --charcoal-grey: hsl(225, 6%, 24%);
  --white: hsl(0, 0%, 100%);
  --tomato: hsl(1, 81%, 58%);
  --overlay-image: linear-gradient(
    90deg,
    rgba(0, 17, 82, 0.3) 0%,
    rgba(250, 183, 44, 0.25) 100%
  );
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
}
html,
body {
  padding: 0;
}
h1 {
  margin: 0;
}
.line {
  width: 2rem;
  height: 0.2rem;
  background: var(--tangerine);
}