@use "./components/partials" as *;

:root {
  --tangerine: hsl(32, 100%, 50%);
  --dark: hsl(251, 41%, 13%);
  --dusty-blue: hsl(184, 34%, 50%);
  --dusty-teal: hsl(181, 36%, 36%);
  --dark-grey-blue: hsl(178, 38%, 29%);
  --charcoal-grey: hsl(225, 6%, 24%);
  --gray: hsl(0, 0%, 49%);
  --white: hsl(0, 0%, 100%);
  --white-light: hsl(0, 0%, 98%);
  --tomato: hsl(1, 81%, 58%);
  --tomato-hover: hsl(6, 63%, 46%);
  --overlay-image: linear-gradient(
    90deg,
    hsla(228, 100%, 16%, 0.6) 0%,
    hsla(40, 95%, 58%, 0.5) 100%
  );
  --box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
  --br-10: 10px;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
}
html,
body {
  padding: 0;
}
h1 {
  margin: 0;
}
.line {
  width: 2rem;
  height: 0.2rem;
  background: var(--tangerine);
}
ul,
ol {
  padding-inline-start: 0;
  list-style: none;
  margin: 0;
}
@include tablet {
  .g-gap-0 {
    gap: 0;
  }
}
figure {
  margin: 0;
}
@include mobile {
  .g-row-gap-2 {
    row-gap: 2rem;
  }
  .g-row-gap-3 {
    row-gap: 3rem;
  }
}
