@use "./components/mixins" as *;

/* Modify swiper js */
.swiper-slider-home {
  width: 100%;
  height: 100%;
  .swiper-slide {
    background: no-repeat center bottom / cover;
    .item-slider {
      padding: 20rem 0 7rem;
      background: var(--overlay-image) no-repeat center / cover;
      @include mobile {
        padding-top: 15rem;
      }
      @include mobile-xs {
        padding-top: 10rem;
      }
    }
  }
  .swiper-pagination {
    transform: translateY(-1rem);
    &-bullet {
      margin: 0 15px;
      border-radius: 100%;
      width: 1rem;
      height: 1rem;
      border: 1.8px solid var(--white);
      background: transparent;
      cursor: pointer;
      transition: background ease-in-out 300ms, border ease-in-out 300ms;
      opacity: 1;
      &:hover {
        border: 1.8px solid var(--white);
        background: hsla(0, 0%, 100%, 0.3);
      }
      &-active {
        border: 1.8px solid transparent;
        background: var(--tangerine);
        &:hover {
          border: 1.8px solid transparent;
          background: var(--tangerine);
        }
      }
    }
  }
}
/* styles - item-slider */
.article {
  color: var(--white);
  &.dark {
    color: var(--dark);
  }
  &_title {
    margin: 1.2rem 0;
    &.size-small {
      font-size: 1.2em;
    }
    &.size-med {
      font-size: 2em;
    }
    &.size-big {
      font-size: 3em;
    }
  }
}
/* styles - features */
.features {
  @include tablet {
    padding-top: 4rem;
  }
  @include mobile {
    h3 {
      text-align: center;
      margin-bottom: 2rem;
    }
  }
  &-images {
    position: relative;
    z-index: 10;
    display: grid;
    grid-template-areas: "span span";
    gap: 2rem;
    align-items: center;
    .photo {
      border-radius: 6px;
      overflow: hidden;
      position: relative;
      box-shadow: var(--box-shadow);
      &:first-child {
        grid-row: 1/3;
      }
      &:nth-child(2) {
        margin-top: -3.2rem;
      }
      &:last-child {
        margin-bottom: -2.5rem;
      }
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          to bottom,
          hsla(0, 0%, 0%, 0.1) 30%,
          hsl(0, 0%, 0%) 100%
        );
      }
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.4rem;
        background: var(--tangerine);
      }
      p {
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 0.5rem;
        z-index: 10;
        color: var(--white);
        font-size: 1.4em;
        @include mobile {
          font-size: 1em;
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
/* styles - services */
.services {
  padding: 4rem 0;
  background: linear-gradient(
      90deg,
      var(--dusty-blue) 60%,
      var(--dark-grey-blue) 100%
    )
    no-repeat center / cover;
  &-title {
    color: var(--white);
    margin: 1.5rem 0 3rem;
    @include mobile {
      text-align: center;
    }
    &.size-small {
      font-size: 1.2em;
    }
    &.size-med {
      font-size: 2em;
    }
    &.size-big {
      font-size: 2.8em;
    }
  }
  &-card {
    padding: 3rem 0;
    border-radius: 6px;
    text-align: center;
    background: var(--white);
    box-shadow: var(--box-shadow);
    @include mobile {
      width: 70%;
      margin: 0 auto;
      padding: 1.5rem;
    }
    &-img {
      margin-bottom: 1.2rem;
      height: 90px;
      @include mobile {
        width: 100%;
      }
    }
    &-title {
      font-weight: 300;
      text-transform: uppercase;
      font-size: 1.2em;
    }
  }
}
/* styles - partners */
.partners {
  padding: 6rem 0;
  .swiper-partners {
    padding: 3rem 1rem 4rem;
    .swiper-button-prev,
    .swiper-button-next {
      right: 0;
      left: auto;
      bottom: 0;
      top: auto;
      &.swiper-button-disabled {
        filter: grayscale(1);
        opacity: 0.6;
      }
    }
    .swiper-button-prev {
      right: 3rem;
      &::after {
        content: "";
        width: 1.5rem;
        height: 1rem;
        background: url("/images/path.svg") no-repeat center / contain;
        transform: scale(-1);
      }
    }
    .swiper-button-next {
      &::after {
        content: "";
        width: 1.5rem;
        height: 1rem;
        background: url("/images/path.svg") no-repeat center / contain;
      }
    }
  }
  &-title {
    margin-top: 1.5rem;
    @include mobile {
      text-align: center;
    }
    &.size-small {
      font-size: 1.2em;
    }
    &.size-med {
      font-size: 2em;
    }
    &.size-big {
      font-size: 2.8em;
    }
  }
  &-card {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    text-align: center;
    background: var(--white);
    padding: 2rem 1rem;
    max-height: 7.5rem;
    min-height: 7.5rem;
    box-shadow: var(--box-shadow);
  }
}
.to-action {
  padding: 4rem 0;
  background: url("/images/shape-left.svg") no-repeat left top,
    url("/images/shape-right.svg") no-repeat right bottom,
    linear-gradient(140deg, var(--dusty-blue) 0%, var(--dark-grey-blue) 120%);
  color: var(--white);
  .line {
    background: var(--white);
  }
  .title {
    margin: 1rem 0;
  }
  &-list {
    list-style: disc;
    padding-inline-start: 1.2rem;
  }
}
